body {
    background-image: url(bg-palm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Gill Sans MT';
    min-height: calc(100vh - 5.5rem);
}

.flex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-r {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elemento {
    margin: 2.5rem;
}

.contenedor {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.caja {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 42px;
    width: 400px;
    border-radius: 20px;
    background-color: white;
    margin: 10px;
    padding-left: 15px;
}

.caja-texto {
    margin-left: 9rem;
}

.caja:hover {
    transform:translateY(-3px) 
}

svg:hover {
    transform: scale(1.1);
    cursor: pointer; 
}

.img img {
    transition: 0.2s ease-in-out;
}

.img img:hover {
    transform: scale(1.1);
}

footer p {
    font-size: 18px;
}

footer a:hover {
    transform:scale(1.02);
    color: rgb(15, 15, 15);
}